@page "/admin"

@using FantasyFitness.Data
@using FantasyFitness.Entity
@inject GoalTypeService GoalTypeService

<h1>Admin</h1>

@if (goalTypes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Goal Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var goalType in goalTypes)
            {
                <tr>
                    <td>goalType.Type</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private GoalType[] goalTypes;

    protected override async Task OnInitializedAsync()
    {
        goalTypes = await GoalTypeService.GetGoalTypesAsync();
    }
}

